<div class="footer">
	<div class="cWrap">
		<div class="fLogo"><img src="/jump/images/renewal/201508/common/logo_footer.gif" alt="AhnLab Mall"></div>
		<ul class="fNavi">
		<li class="first"><a href="http://company.ahnlab.com/company/site/main/comIntroMain.do" target="_blank">회사소개</a></li>
		<li><a href="http://company.ahnlab.com/company/site/ir/present_stock_price.jsp" target="_blank">투자정보</a></li>
		<li><a href="http://company.ahnlab.com/company/site/recruit/comRecruitMain/comRecruitMainList.do" target="_blank">채용정보</a></li>
		<li><a href="http://www.ahnlab.com/kr/site/etc/policy.do" target="_blank">개인정보취급방침</a></li>
		<li><a href="http://www.ahnlab.com/kr/site/etc/agreement.do?gubun=2" target="_blank">이용약관</a></li>
		<li><a href="http://www.ahnlab.com/kr/site/etc/contactUs.do" target="_blank">Contact US</a></li>
		</ul>
		<div class="fSns">
			<a href="https://www.facebook.com/ahnlabmall" target="_blank" class="fb"><span class="blind">페이스북</span></a>
		</div>
		<div class="fInfo">
			<span class="fcGray">AhnLab</span>  /  경기도 성남시 분당구 판교역로 220   대표이사 권치중 /  사업자등록번호 214-81-83536 /
			<a href="#">통신판매신고번호 2012-경기성남-1189호</a><br>
			<span class="fcGray">구매상담전화 1588-3096, FAX 031-722-8901 /  V3 기술상담(유료회원 전용)전화 1577-9880</span> /
			E-MALL <a href="mailto:shopping@ahnlab.com">shopping@ahnlab.com</a>
		</div>
		<div class="fCopy">Copyright ⓒ AhnLab, Inc. All Rights Reserved.</div>
	</div>

	<!-- AceCounter Log Gathering Script V.71.2010011401 AceCounter호출 스크립트 by mi.jang-->
	<script language="javascript">
	if(typeof _GUL == 'undefined'){
	var _GUL = 'acounter.ahnlab.com';var _GPT='80'; var _SGPT='443';var _AIMG = new Image(); var _bn=navigator.appName; var _PR = location.protocol=="https:"?"https://"+_GUL+":"+_SGPT:"http://"+_GUL+":"+_GPT;if( _bn.indexOf("Netscape") > -1 || _bn=="Mozilla"){ setTimeout("_AIMG.src = _PR+'/?cookie';",1); } else{ _AIMG.src = _PR+'/?cookie'; };
	document.writeln("<scr"+"ipt language='javascript' src='/jump/js/aceCounter/acecounter_V70.js'></scr"+"ipt>");
	}
	</script><script language="javascript" src="/jump/js/aceCounter/acecounter_V70.js"></script>

	<noscript>&lt;img src='http://acounter.ahnlab.com:80/?uid=1&amp;je=n&amp;' border=0 width=0 height=0&gt;</noscript>
	<!-- AceCounter Log Gathering Script End -->

	<!-- 전환 추적을 위한 ekams ROI 스크립트(랜딩) 시작 //-->
	<script language="javascript">
	var _ekamsAdvertiserID = 278;
	</script>
	<!-- Advertiser 'Emforce_Ahnlab_DXR', Include user in segment 'KR_SEGMENT_Ahnlab' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="https://ad.yieldmanager.com/pixel?id=1836789&amp;t=2" width="1" height="1">
<!-- End of segment tag -->

	<!-- 전환 추적을 위한 ekams ROI 스크립트(랜딩) 끝 //-->
</div>
