<div class="row container">
  <div class="container col-md-10">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation"><a href="/home">Home</a></li> <!-- <span class="badge">3</span> -->
      <li role="presentation"><a href="/profile">Profile</a></li>
      <li role="presentation"><a href="/notice">Notice</a></li>
      <li role="presentation"><a href="/schedule">Schedule</a></li>
      <li role="presentation"><a href="/test">Test</a></li>
      <li role="presentation"><a href="/phone">Phone</a></li>
    </ul>
  </div>
  <div class="container col-md-2">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation"><a href="/users/edit"><%= emp.empname %></a></li>
      <li role="presentation"><a href="/">Logout</a></li>
    </ul>
  </div>
</div>
