<div class="row container">
  <div class="container col-md-2"></div>
  <div class="container col-md-8">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation"><a href="/home">Home</a></li>
      <li role="presentation"><a href="/notice">Notice</a></li>
      <li role="presentation"><a href="/schedule">Schedule</a></li>
      <li role="presentation"><a href="/test">Test</a></li>
      <li role="presentation"><a href="/phone">Phone</a></li>
      <li role="presentation"><a href="/bug">Bug</a></li>
      <% if(emp.empauth>2){%>
      <li role="presentation"><a href="/rent">Rent</a></li>
      <% }%>
      <% if(emp.empauth>3){%>
      <li role="presentation"><a href="/people">People</a></li>
      <% }%>
    </ul>
  </div>
  <div class="container col-md-2">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation"><a href="/users/edit"><%= emp.empname %></a></li>
      <li role="presentation"><a href="/">Logout</a></li>
    </ul>
  </div>
</div>
