<p>공지사항</p>
<div style="text-align:right" class="row">
  <a style="text-align:right" href="/notice">more...</a>
</div>
<br>
<div class="list-group">
  <% notice_values.forEach(function(notice_value) { %>
    <div class="list-group-item">
      <a href="/notice/<%= notice_value[0] %>"><p class="list-group-item-text" style="color:black"><%= notice_value[1] %></p></a>
    </div>
    <% }); %>
</div>
