<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="header">
      <% include partials/header %>
    </div>

    <div class="container" style="margin-top:30px">
    <% if(emp.empauth==1001){ %>
        <div class="row container">
          <div class="container col-md-5">
            <% include partials/home/test %>
          </div>
          <div class="container col-md-1"></div>
          <div class="container col-md-5">
            <% include partials/home/bug %>
          </div>
          <div class="container col-md-1"></div>
        </div>
      <% }else if(emp.empauth==1002){ %>
          <div class="row container">
            <% include partials/home/rent %>
          </div>
      <% }else if(emp.empauth==1003){ %>
          <div class="row container">
            <% include partials/home/testermanager %>
          </div>
      <% }else if(emp.empauth==1004){ %>
          <div class="row container">
            <% include partials/home/systemmanager %>
          </div>
      <% }; %>
      <div class="row container">
        <div class="container col-md-5">
          <% include partials/home/notice %>
        </div>
        <div class="container col-md-1"></div>
        <div class="container col-md-5">
          <% include partials/home/schedule %>
        </div>
        <div class="container col-md-1"></div>
      </div>
      <br>

    </div>
  </body>
</html>
