<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="header">
      <% include partials/header %>
    </div>
    It's main
    <div class="footer">
      <% include partials/footer %>
    </div>
  </body>
</html>
