<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
      <div class="header">
      <% include partials/header %>
    </div>
    <div class="container" style="margin-top:30px">
      <div class="list-group">
        <% notices.forEach(function(notice) { %>
          <div class="list-group-item">
            <h4 class="list-group-item-text"><a href="notice/<%= notice[0] %>" style="color:black"><%= notice[1] %></a></h4>
            <p class="list-group-item-text" style="text-algin:right; margin-left:700px"><%= notice[4].toString().substr(0,16) %></p>
          </div>
          <% }); %>
      </div>
    </div>
    <div class="container row">
      <div class="container col-md-11">
      </div>
      <div class="conatiner col-md-1">
        <a href="notice/write">공지 등록</a>
      </div>
    </div>

  </body>
</html>
