<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="header">
      <% include partials/header %>
    </div>

    <div class="container">
        <div class="row style_featured">
            <div class="col-md-4">
                <div>
                    <img src="http://www.prepbootstrap.com/Content/images/template/featureditems/product_001.jpg" alt="" class="img-rounded img-thumbnail" />
                    <h2>Item A</h2>
                    <p style="text-align: left;">
                        <span class="fa fa-info-circle"></span>
                        A quality item for purchase. Features state of the art technology
                    </p>
                    <p style="text-align: left;">
                        <span class="fa fa-bank "></span>
                        0% Financing available
                    </p>
                    <p style="text-align: left;">
                        <span class="fa fa-calendar "></span>
                        12 months full warranty
                    </p>
                    <a href="#" class="btn btn-success" title="More">more »</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <img src="http://www.prepbootstrap.com/Content/images/template/featureditems/product_002.jpg" alt="" class="img-rounded img-thumbnail"/>
                    <h2>Item A</h2>
                    <p style="text-align: left;">
                        <span class="fa fa-info-circle"></span>
                        A quality item for purchase. Features state of the art technology
                    </p>
                    <p style="text-align: left;">
                        <span class="fa fa-bank "></span>
                        0% Financing available
                    </p>
                    <p style="text-align: left;">
                        <span class="fa fa-calendar "></span>
                        21 months full warranty
                    </p>
                    <a href="#" class="btn btn-success" title="More">more »</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <img src="http://www.prepbootstrap.com/Content/images/template/featureditems/product_003.jpg" alt="" class="img-rounded img-thumbnail"/>
                    <h2>Item A</h2>
                    <p style="text-align: left;">
                        <span class="fa fa-info-circle"></span>
                        A quality item for purchase. Features state of the art technology
                    </p>
                    <p style="text-align: left;">
                        <span class="fa fa-bank "></span>
                        0% Financing available
                    </p>
                    <p style="text-align: left;">
                        <span class="fa fa-calendar "></span>
                        4 months full warranty
                    </p>
                    <a href="#" class="btn btn-success" title="More">more »</a>
                </div>
            </div>
        </div>
    </div>


  </body>
</html>
