<div style="width:60%;margin-left:400px;margin-top:50px">
                <div style="font-size:24pt;margin-bottom:25px">
                    Check List Test
                </div>
                <div style="font-size:12pt">    
                    <p> * 외형 점검은 불필요</p>

                    <p>* 엑티베이션 후 점검</p>
                </div>
                <div style="margin-top:25px;font-size:15pt;margin-bottom:25px">
                    <p>Check List Example</p>
                </div>

                <div style="margin-bottom:50px">
                    <table  style="width:100%;font-size:12pt;height:350px">
                        <tr>
                            <td> <strong>동기화</strong> </td>
                            <td> 컴퓨터와 동기화 유무 확인</td>
                        </tr>

                        <tr>
                            <td> <strong>홈버튼</strong> </td>
                            <td> 전원을 켠 뒤, 홈 버튼이 잘 눌러지는지 확인</td>
                        </tr>

                       <tr>
                            <td> <strong>카메라</strong> </td>
                            <td> 촬영 문제 유무 확인, 작동 멈춤, 화이트 밸런스 기능 등 </td>
                        </tr>

                        <tr>
                            <td> <strong>터치스크린</strong> </td>
                            <td> 메모장 열고 입력, 갤러리에서 사진 확대 움직임 등 </td>
                        </tr>

                       <tr>
                            <td> <strong>마이크</strong> </td>
                            <td> 음성메모 목소리 녹음 </td>
                        </tr>

                        <tr>
                            <td> <strong>근접센서</strong> </td>
                            <td> 화면 자동 꺼짐 확인 </td>
                        </tr>

                        <tr>
                            <td> <strong>무선인터넷</strong> </td>
                            <td> 인터넷 어플리케이션 작동 여부 확인 </td>
                        </tr>

                        <tr>
                            <td> <strong>GPS</strong> </td>
                            <td> 현재 위치 오작동 여부 확인 </td>
                        </tr>

                        <tr>
                            <td> <strong>블루투스</strong> </td>
                            <td> 블루투스 활성화 및 기기 테스트 </td>
                        </tr>

                        <tr>
                            <td> <strong>LCD</strong> </td>
                            <td> 백라이트 조정, 라이트 센서 확인 </td>
                        </tr>

                         <tr>
                            <td> <strong>중력센서</strong> </td>
                            <td> 어플리케이션 활용, 센서 정상 작동 여부 확인 </td>
                        </tr>

                    </table>

                </div>

<strong>* 진행 도중 발견되는 사항은 버그 제보를 통해 보고할 것</strong>

             

            </div>