<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
      <div class="header">
        <% include ../partials/header %>
      </div>
      <div class="container" style="margin-top:30px">
        <a href="/test/testcase/add"><button class="btn btn-primary">Add TestCase</button></a>
        <div class="list-group" style="margin-top:10px">
          <% testcases.forEach(function(tc) { %>
            <div class="list-group-item">
              <h4 class="list-group-item-text"><span class="col-md-10"><%= tc[1] %></span>
                <span style="color:<% if(tc[3]==1){ %>blue<% }else if(tc[3]==0){ %>red<% }; %>"><% if(tc[3]==1){ %>PASS<% }else if(tc[3]==0){ %>FAIL<% }; %></span></h4>
              <br>
              <p class="list-group-item-text"><%= tc[2] %></p>
              <br>
              <p class="list-group-item-text"><a href="/test/testcase/modify/<%= tc[0] %>">수정</a><a href="/test/testcase/delete/<%= tc[0] %>" style="margin-left:10px">삭제</a></p>
            </div>
            <% }); %>
        </div>

      </div>

  </body>
</html>
